<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8'/>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{{page.title}}</title>
    <link rel='stylesheet' href='{{site.baseurl}}/css/style.css'/>
    <!--<script src="{{site.baseurl}}/js/libraries/prefixfree.min.js"></script>-->
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans" rel="stylesheet">
  </head>

  <body>
      <nav>
        <div class="info">
          <div class="name"><a href="{{site.baseurl}}/">vijay ravikumar</a></div>
          <aside> &nbsp </aside>
	  <aside>  <img src="../images/icons/mugshot_oval.png" class="shrinkToFit" height="100"> </aside>
        </div>
        <div class="menu">
          <ul>
            {% assign nav_pages = site.pages | sort: 'nav_order' %}
            {% for p in nav_pages %}
              {% if p.nav_order %}
                <li>
                  {% if p.url contains "ikkarai" %}   <!-- hack to link to external URLs -->
                  <aside>  &nbsp </aside>
		  <a href="{{ "https:/" | append: p.url }}">{{ p.title }}</a>
                  {% else %}
		  <aside>  &nbsp </aside>
                    {% if page.title == p.title %}
                    <a style="font-size: 1.2em" href="{{ site.baseurl }}{{ p.url }}">{{ p.title }}</a>
                    {% else %}
                    <a href="{{ site.baseurl }}{{ p.url }}">{{ p.title }}</a>
                    {% endif %}
                  {% endif %}
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
        <div class="social">
            <ul>
            <li><a href="mailto:vijay.ravikumar@gmail.com"><img alt="Email" width="20" height="20" src="{{site.baseurl}}/images/icons/mail.svg"></a></li>
            <li><a href="https://github.com/vijay-ok"><img alt="Github" width="20" height="20" src="{{site.baseurl}}/images/icons/github.svg"></a></li>
            </ul>
        </div>
      </nav>

      {{content}}

  </body>

</html>
