---
layout: article-writing
---

{% assign sub_pages = "science, labour, posters, animation, pudiyador" | split: ", " %}




<ul class="subnav">

{% for p in sub_pages %}
                <li>
                    {% if page.keyword == p %}
                      <a style="font-size: 1.2em; font-weight: bold" href="{{ site.baseurl }}/{{ p }}/">{{ p }}</a>
                    {% else %}
                      <a href="{{site.baseurl}}/{{ p }}/"> {{ p }} </a> 
                    {% endif %}
                </li>
{% endfor %}
</ul>

<aside>  &nbsp </aside>

<aside>  &nbsp </aside>


<ul class="subnav">
  <li><a href="{{site.baseurl}}/science/">science</a></li>
  <li><a href="{{site.baseurl}}/labour/">labor</a></li>
  <li><a href="{{site.baseurl}}/posters/">posters</a></li>
  <li><a href="{{site.baseurl}}/animation/">animation</a></li>
  <li><a href="{{site.baseurl}}/pudiyador/">teaching</a></li>
</ul>

{{ content }}
