---
layout: article-writing
---


{% assign nav_pages = site.pages | where: "layout", "mathematics" | sort: "subnav_order" %}

<ul class="subnav">
{% for p in nav_pages %}
                 <li>
                    {% if p.title == page.title %}
                      <a style="font-weight: bold" href="{{ site.baseurl }}{{ p.permalink }}">{{ p.keyword }}</a>
                    {% else %}
                        <a href="{{ site.baseurl }}{{ p.permalink }}"> {{ p.keyword }} </a>
                    {% endif %}
                </li>
{% endfor %}
</ul>



<!--
<ul class="subnav">
  <li><a href="{{site.baseurl}}/outreach/">outreach</a></li>
  <li><a href="{{site.baseurl}}/teaching/">teaching</a></li>
  <li><a href="{{site.baseurl}}/research/">research</a></li>
</ul>
-->

{{ content }}
